URxvt.intensityStyles: false
URxvt.cursorBlink: 1
Xcursor.theme: Vanilla-DMZ


!URxvt*inheritPixmap:    false 
!URxvt*transparent:      false
!URxvt*.depth: 32 
!URxvt.background: [85]#000000 

!URxvt.perl-ext-common:      clipboard,keyboard-select

!URxvt.keysym.M-Escape: perl:keyboard-select:activate
!URxvt.keysym.M-c:   perl:clipboard:copy
!URxvt.keysym.M-v:   perl:clipboard:paste

!URxvt.clipboard.copycmd:  xsel -ib
!URxvt.clipboard.pastecmd: xsel -ob

!URxvt.scrollstyle: plain
URxvt.scrollBar: false

!URxvt*buffered: false


!URxvt.font:xft:DejaVu Sans Mono:size=12:style=bold
!URxvt.boldfont:xft:DejaVu Sans Mono:size=12:style=bold

!URxvt.font:xft:Monospace:size=12
!URxvt.boldfont:xft:Monospace:size=12:style=bold

URxvt.font:xft:Ubuntu Mono:size=13
URxvt.boldfont:xft:Ubuntu Mono:size=13:style=bold
!URxvt.italicFont: xft:Ubuntu Mono:italic:size=13                                                                                       
!URxvt.boldItalicFont: xft:Ubuntu Mono:bold:italic:size=13


!URxvt.font:xft:Monaco:size=12:autohint=false:antialias=true:hinting=slight
!URxvt.boldfont:xft:Monaco:size=12:autohint=false:antialias=true:hinting=slight:bold


!URxvt*font: -*-terminus-bold-*-*-*-18-*-*-*-*-*-iso8859-*

!URxvt*font: -*-dina-bold-r-*--13-*-*-*-*-*-iso8859-*

!URxvt*font: -*-dina-medium-r-*--13-*-*-*-*-*-iso8859-*

!URxvt.font: xft:Inconsolata:style=Medium:pixelsize=16:antialias=true:hinting=slight

!urxvt*font:                    -*-terminus-medium-*-*-*-16-*-*-*-*-*-iso10646-1 
!urxvt*boldFont:                -*-terminus-medium-*-*-*-16-*-*-*-*-*-iso10646-1


!URxvt.font: xft:Droid Sans Mono:size=14:autohint=false:antialias=true:hinting=true
!URxvt.boldFont: xft:Droid Sans Mono:size=14:autohint=false:antialias=true:hinting=true
!URxvt.italicFont: xft:droid sans mono:italic:size=14:autohint=true
!URxvt.boldItalicFont: xft:droid sans mono:bold:italic:size=14:autohint=true


!URxvt.letterSpace: -5

!URxvt*background: Black
!URxvt*foreground: White

!Negro-----------
!*color0: #151515
!*color8: #696969
!Rojo------------
!*color1: #FF8EAF
!*color9: #ED4C7A
!Verde------------
!*color2:  #A6E25F
!*color10: #A6E179
!Amarillo---------
!*color3: #F8E578
!*color11: #FFDF6B
!Azul-------------
!*color4: #A6E2F0
!*color12: #79D2FF
!Magenta----------
!*color5: #E85B92
!*color13: #BB5D79
!Cyan-------------
!*color6: #5F868F
!*color14: #87A8AF
!Blanco-----------
!*color7: #D5F1F2
!*color15: #E2F1F6

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized
! Common
#define S_yellow #b58900
#define S_orange #cb4b16
#define S_red #dc322f
#define S_magenta #d33682
#define S_violet #6c71c4
#define S_blue #268bd2
#define S_cyan #2aa198
#define S_green #859900
! Dark
#define S_base03 #002b36
#define S_base02 #073642
#define S_base01 #586e75
#define S_base00 #657b83
#define S_base0 #839496
#define S_base1 #93a1a1
#define S_base2 #eee8d5
#define S_base3 #fdf6e3

! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
!! URxvt*background: S_base03
! URxvt*background: S_base03
! URxvt*foreground: S_base0
! URxvt*fading: 40
! URxvt*fadeColor: S_base03
! URxvt*cursorColor: S_base1
! URxvt*pointerColorBackground: S_base01
! URxvt*pointerColorForeground: S_base1
! URxvt*color0: S_base02
! URxvt*color1: S_red
! URxvt*color2: S_green
! URxvt*color3: S_yellow
! URxvt*color4: S_blue
! URxvt*color5: S_magenta
! URxvt*color6: S_cyan
! URxvt*color7: S_base2
! URxvt*color9: S_orange
! URxvt*color8: S_base03
! URxvt*color10: S_base01
! URxvt*color11: S_base00
! URxvt*color12: S_base0
! URxvt*color13: S_violet
! URxvt*color14: S_base1
! URxvt*color15: S_base3



! --- ~/.Xresources ------------------------------------------------------------
! ! ------------------------------------------------------------------------------
! ! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ! ------------------------------------------------------------------------------
! ! --- http://ciembor.github.com/4bit -------------------------------------------
! ! ------------------------------------------------------------------------------
!
! ! --- special colors ---
!
!URxvt*background: #0d1926
!URxvt*foreground: #d9e6f2
!
! ! --- standard colors ---
!
! ! black
!URxvt*color0: #000000
!
! ! bright_black
!URxvt*color8: #262626
!
! ! red
!URxvt*color1: #b87a7a
!
! ! bright_red
!URxvt*color9: #dbbdbd
!
! ! green
!URxvt*color2: #7ab87a
!
! ! bright_green
!URxvt*color10: #bddbbd
!
! ! yellow
!URxvt*color3: #b8b87a
!
! ! bright_yellow
!URxvt*color11: #dbdbbd
!
! ! blue
!URxvt*color4: #7a7ab8
!
! ! bright_blue
!URxvt*color12: #bdbddb
!
! ! magenta
!URxvt*color5: #b87ab8
!
! ! bright_magenta
!URxvt*color13: #dbbddb
!
! ! cyan
!URxvt*color6: #7ab8b8
!
! ! bright_cyan
!URxvt*color14: #bddbdb
!
! ! white
!URxvt*color7: #d9d9d9
!
! ! bright_white
!URxvt*color15: #ffffff
!
!
! ! ------------------------------------------------------------------------------
! ! --- end of terminal colors section -------------------------------------------

!! astromouse
URxvt*background: #101010
URxvt*foreground: #b5b5b5
URxvt*color0:  #1c1c1c
URxvt*color8:  #3d3a3a
URxvt*color1:  #d74b73
URxvt*color9:  #b94062
URxvt*color2 : #9acc79
URxvt*color10: #8fb676
URxvt*color3:  #d0d26b
URxvt*color11: #c8bc45
URxvt*color4 : #77b6c5
URxvt*color12: #8fa7b9
URxvt*color5:  #a488d9
URxvt*color13: #8888a1
URxvt*color6:  #7fcab3
URxvt*color14: #6ec2a8
URxvt*color7:  #8d8d8d
URxvt*color15: #dad3d3

! Base16 Monokai
! ! Scheme: Wimer Hazenberg (http://www.monokai.nl)
!
!!#define base00 #272822
!#define base01 #383830
!#define base02 #49483e
!#define base03 #75715e
!#define base04 #a59f85
!#define base05 #f8f8f2
!#define base06 #f5f4f1
!#define base07 #f9f8f5
!#define base08 #f92672
!#define base09 #fd971f
!#define base0A #f4bf75
!#define base0B #a6e22e
!#define base0C #a1efe4
!#define base0D #66d9ef
!#define base0E #ae81ff
!#define base0F #cc6633
!
!*.foreground:   base05
!*.background:   base00
!*.cursorColor:  base05
!
!*.color0:       base00
!*.color1:       base08
!*.color2:       base0B
!*.color3:       base0A
!*.color4:       base0D
!*.color5:       base0E
!*.color6:       base0C
!*.color7:       base05
!
!*.color8:       base03
!*.color9:       base08
!*.color10:      base0B
!*.color11:      base0A
!*.color12:      base0D
!*.color13:      base0E
!*.color14:      base0C
!*.color15:      base07
!
! ! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! ! use 'shell' template to set these if necessary
!*.color16:      base09
!*.color17:      base0F
!*.color18:      base01
!*.color19:      base02
!*.color20:      base04
!*.color21:      base06
