URxvt.scrollBar: false

!Xcursor.theme: Vanilla-DMZ
!URxvt*inheritPixmap:    false 
!URxvt*transparent:      false
!URxvt*.depth: 32 
!URxvt.background: [85]#000000 
!URxvt.scrollstyle: plain
!URxvt*buffered: false

URxvt.font:xft:Terminus:size=12
URxvt.boldfont:xft:Terminus:size=12:style=bold
URxvt.italicFont: xft:Terminus:italic:size=12 

!URxvt.font:xft:DejaVu Sans Mono:size=12:style=bold
!URxvt.boldfont:xft:DejaVu Sans Mono:size=12:style=bold

!URxvt.font:xft:Monospace:size=12
!URxvt.boldfont:xft:Monospace:size=12:style=bold

!URxvt.font:xft:Ubuntu Mono:size=13
!URxvt.boldfont:xft:Ubuntu Mono:size=13:style=bold
!URxvt.italicFont: xft:Ubuntu Mono:italic:size=13                                                                                       
!URxvt.boldItalicFont: xft:Ubuntu Mono:bold:italic:size=13

!URxvt.font:xft:Monaco:size=12:autohint=false:antialias=true:hinting=slight
!URxvt.boldfont:xft:Monaco:size=12:autohint=false:antialias=true:hinting=slight:bold

!URxvt*font: -*-terminus-bold-*-*-*-18-*-*-*-*-*-iso8859-*
!URxvt*font: -*-dina-bold-r-*--13-*-*-*-*-*-iso8859-*
!URxvt*font: -*-dina-medium-r-*--13-*-*-*-*-*-iso8859-*
!urxvt*font:                    -*-terminus-medium-*-*-*-16-*-*-*-*-*-iso10646-1 
!urxvt*boldFont:                -*-terminus-medium-*-*-*-16-*-*-*-*-*-iso10646-1

!URxvt.font: xft:Droid Sans Mono:size=14:autohint=false:antialias=true:hinting=true
!URxvt.boldFont: xft:Droid Sans Mono:size=14:autohint=false:antialias=true:hinting=true
!URxvt.italicFont: xft:droid sans mono:italic:size=14:autohint=true
!URxvt.boldItalicFont: xft:droid sans mono:bold:italic:size=14:autohint=true


!! astromouse
URxvt*background: #101010
URxvt*foreground: #b5b5b5
URxvt*color0:  #1c1c1c
URxvt*color8:  #3d3a3a
URxvt*color1:  #d74b73
URxvt*color9:  #b94062
URxvt*color2 : #9acc79
URxvt*color10: #8fb676
URxvt*color3:  #d0d26b
URxvt*color11: #c8bc45
URxvt*color4 : #77b6c5
URxvt*color12: #8fa7b9
URxvt*color5:  #a488d9
URxvt*color13: #8888a1
URxvt*color6:  #7fcab3
URxvt*color14: #6ec2a8
URxvt*color7:  #8d8d8d
URxvt*color15: #dad3d3
